body {
  margin: 0;
  font-family: var(--font-zen-kaku-gothic), sans-serif;
  background-color: var(--primary-400);

  overflow: hidden;
  position: fixed;
  width: 100%;

  --red-50: #fff2f2;
  --red-100: #eb3d40;

  --primary-900: #26007e;
  --primary-800: #330c8f;
  --primary-700: #40179e;
  --primary-600: #5a2cc5;
  --primary-500: #5f31cb;
  --primary-400: #7750d3;
  --primary-300: #9070dc;
  --primary-200: #ab8ff0;
  --primary-100: #d1beff;
  --primary-50: #f0eaff;

  --secondary-900: #015ca8;
  --secondary-800: #027dca;
  --secondary-700: #008ede;
  --secondary-600: #00a1f2;
  --secondary-500: #00b0ff;
  --secondary-400: #25bcff;
  --secondary-300: #4fc8ff;
  --secondary-200: #74d8ff;
  --secondary-100: #aee8ff;
  --secondary-50: #e0f6ff;

  --white-100: #ffffff;
  --gray-50: #f4f5ff;
  --gray-100: #eaebfd;
  --gray-200: #dddef0;
  --gray-300: #c9cbdb;
  --gray-400: #a4a5b5;
  --gray-500: #838493;
  --gray-600: #5c5d6b;
  --gray-700: #494a58;
  --gray-800: #2b2d3a;
  --gray-900: #0a0c1a;
}

button {
  font-family: var(--font-zen-kaku-gothic), sans-serif;
}

input {
  font-family: var(--font-zen-kaku-gothic), sans-serif;
}
