.container {
  display: flex;
  position: relative;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
}

.button {
  padding: 12px 12px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: var(--primary-100);
  background-color: transparent;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  &:hover:not(.active) {
    background-color: var(--primary-300);
  }
}

.active {
  background-color: var(--primary-300) !important;
  color: var(--white-100) !important;
}

.buttonContainer {
  overflow: hidden;
  align-content: center;
  display: flex;
  gap: 8px;
}

.highlightBar {
  position: absolute;
  width: 4px;
  height: 26px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 16px 16px 0px;
  background-color: var(--white-100);
  transform-origin: center;
  transition: 100ms;
  pointer-events: none;
}
