.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 34, 41, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-100);
  border-radius: 32px;
  padding: 54px 48px;
  width: 90%;
  max-width: 400px;
  gap: 56px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message {
  font-size: 24px;
  color: var(--red-100);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  width: 100%;
}
