.container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin: 16px 0;
  white-space: nowrap;
  align-items: center;
  height: calc(100vh - 32px); /* マージンを考慮 */
  justify-content: space-between;

  .logo {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: var(--white-100);
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  .buttonContainer {
    padding: 0 16px;
  }
}

.profileContainer {
  width: 100%;
  padding: 0 16px;
  margin-top: 12px;
  flex-shrink: 0; /* サイズを固定 */
}
