.container {
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
  margin: 16px 0;
  white-space: nowrap;
  .logo {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: var(--white-100);
  }
}

.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleContainer {
  padding: 0 16px;
}
