.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  padding: 8px 16px;
  border: 2px solid var(--gray-50);
  border-radius: 16px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.name {
  font-size: 24px;
  color: var(--primary-400);
  font-weight: 700;
  white-space: nowrap;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  // scrollbar-color: #00000000 #00000000;
  // scrollbar-width: thin;
  // transition: 300ms;
}

// .buttonContainer:hover {
//   scrollbar-color: var(--gray-400) #00000000;
//   scrollbar-width: thin;
// }
