.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  padding: 24px;
  border: 2px solid var(--gray-50);
  border-radius: 16px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.name {
  font-size: 24px;
  color: var(--primary-400);
  font-weight: 700;
  white-space: nowrap;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
