.container {
  width: calc(100% - 32px);
  padding: 4px 16px 8px 16px;
  font-size: 16px;
  border-radius: 16px;
  justify-content: center;
  height: fit-content;
  background-color: var(--gray-50);
  border: none;
  transition: 200ms;
  display: flex;
  flex-direction: column;
}

.container:hover {
  background-color: var(--gray-100);
}

.word {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-900);
}

.meaning {
  font-size: 12px;
  color: var(--gray-400);
}
