.button {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 16px;
  justify-content: center;
  height: fit-content;
  align-items: center;
  font-weight: 500;
  background-color: var(--primary-400);
  color: var(--white-100);
  border: none;
  transition: 200ms;
  width: 100%;
}

.button:hover {
  background-color: var(--primary-300);
}

.gray {
  background-color: var(--gray-50);
  color: var(--gray-900);
}
.gray:hover {
  background-color: var(--gray-100);
}

.loading {
  padding: 10px 0;
}

.red {
  background-color: var(--red-100);
}

.red:hover {
  background-color: var(--red-50);
}
