.button {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 16px;
  justify-content: center;
  height: fit-content;
  align-items: center;
  font-weight: 500;
  background-color: var(--primary-400);
  color: var(--white-100);
  border: none;
  transition: 100ms;
  width: 100%;
  cursor: pointer;
}

.button:hover:not(.disabled) {
  background-color: var(--primary-300);
}

.button.disabled {
  background-color: var(--gray-300);
  color: var(--gray-500);
  cursor: not-allowed;
}

.gray {
  background-color: var(--gray-50);
  color: var(--gray-900);
}

.gray:hover:not(.disabled) {
  background-color: var(--gray-100);
}

.gray.disabled {
  background-color: var(--gray-200);
  color: var(--gray-400);
}

.loading {
  padding: 10px 0;
}

.red {
  background-color: var(--red-100);
}

.red:hover:not(.disabled) {
  background-color: var(--red-50);
}

.red.disabled {
  background-color: var(--gray-300);
  color: var(--gray-500);
}
