.button {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: var(--primary-400);
  color: ver(--white-100);
  color: #ffffff;
  border: none;
}
