.button {
  padding: 8px;
  background-color: var(--gray-50);
  border-radius: 100px;
  border: none;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  cursor: pointer;
}

.button:hover {
  background-color: var(--gray-100);
}

.purple {
  border: 2px solid var(--primary-300);
  background-color: var(--primary-400);
}

.purple:hover {
  background-color: var(--primary-300);
}
