.button {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: var(--primary-400);
  border: 2px solid var(--primary-300);
  color: var(--white-100);
  transition: 300ms;
}

.button:hover {
  background-color: var(--primary-300);
}
